{% extends "gymadmin_base.html" %}

{% block gymadmin_body_content %}
          <!-- Content Row -->
           <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h3 class="h3 mb-0 text-gray-800">Edit Gym </h3>

          </div>


          <form action="/gymadmin/gyms/createGym/" method="POST"/>
          {% csrf_token %}
            {{gym_form.as_ul}}
            <input type ="submit" value="Submit"/>
          </form>

   
 
{% endblock %}
 